@model Assignment5.Models.Song

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>@Html.DisplayFor(model => model.songTitle)</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Genre ID: 
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.genreID)
        </dd>
        <dt class = "col-sm-2">
           Artist ID:
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.artistID)
        </dd>
        <dt class = "col-sm-2">
            Song Title:
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.songTitle)
        </dd>
        <dt class = "col-sm-2">
            Artist Title:
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.artistTitle)
        </dd>
        <dt class = "col-sm-2">
            Song Price:
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.price)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-primary" asp-action="Edit" asp-route-id="@Model?.songID">Edit</a>
    <a class="btn btn-primary" asp-action="Index">Back to List</a>
</div>
